<p id="notice"><%= notice %></p>

<p>
  <div class="normal-text">  
    <strong>Description:</strong>
  </div>
    <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
