<div class="jumbotron center">
  <div class="block">
      <h1> Let's Christmas!</h1>
      <p>  
        <%= image_tag('XmasWolfLogo.png') %>  
    </p>        
  </div>
</div>
<h2> About ChristmasWolf </h2>
<p> ChristmasWolf lets you find and share Christmas all year 'round. </p>
<p> Why wait until December? Start Christmassing NOW! </p>
<p> ChristmasWolf is a <a href="http://www.teambitewolf.com/" target="_blank"> Team BiteWolf</a> app. </p>
<br>
<h2> What people are saying about ChristmasWolf </h2>
<p> "Omg what is this beautiful website regarding Christmas." --Jodi </p>
<p> "I want to start Christmassing NOW!" --Travis </p>
