<div class="jumbotron center">
  <div class="block">
    <br>
    <br>
    <br>
    <h1> *****Let's Christmas!*****</h1>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="container" align="center">
  <br>
  <p>  
    <%= image_tag('XmasWolfLogo.png') %> 
  </p>      
  <h2> About ChristmasWolf </h2>
    <p> ChristmasWolf lets you find and share Christmas all year 'round. </p>
    <p> Why wait until December? Start Christmassing NOW! </p>
    <p> ChristmasWolf is a <a href="http://www.teambitewolf.com/" target="_blank"> Team BiteWolf</a> app. </p>
    <br>
    <h2> What people are saying about ChristmasWolf </h2>
    <p> "Omg what is this beautiful website regarding Christmas." --Jodi </p>
    <p> "I want to start Christmassing NOW!" --Travis </p>
</div>
 <div class="panel-footer">
    <p>Copyright 2015 <a href="http://www.teambitewolf.com/" target="_blank"> Team BiteWolf</a></p>
 </div>
